*,
html {
    box-sizing: border-box;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.wrapper {
    padding: 30px;
}

.app-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 120, 0.5);
    color: #fff;
    padding: 20px 40px;
}

.app-navbar-logo {
    font-size: 2rem;
    margin-right: auto;
}

.app-navbar-menu {
    text-decoration: none;
    color: inherit;
}